 
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #0077ff, #00ff11, #ffea00, #ff7700, #ff2f00);
}